.idea/workspace.xml
.idea/vcs.xml
gulfile.js
package-lock.json
node_modules/*
!node_modules/@fortawesome/fontawesome-free/css/fontawesome.css
!node_modules/@fortawesome/fontawesome-free/css/regular.css
!node_modules/@fortawesome/fontawesome-free/css/solid.css
!node_modules/@fortawesome/fontawesome-free/css/brands.css

gulpfile.js
